 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 40px;
  border-bottom: 2px solid #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;


}


.logo {
  font-size: 20px;
  font-weight: bold;
  color: #1a1a1a;
  letter-spacing: 2px;
}

.logo .dot {
  color: #1a1a1a;
}

.nav-menu {
  display: flex;
  gap: 30px;
}

.nav-menu a {
  text-decoration: none;
  color: #444;
  font-size: 16px;
  position: relative;
  transition: color 0.3s;
}

.nav-menu a:hover,
.nav-menu a.active {
  color: #2e30a3;
}

.nav-menu a.active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #0066ff;
  left: 0;
  bottom: -5px;
}


.intro img {
    width: 50%;
}

.intro {
    display: flex;
    align-items: center;
    background-color:rgb(127, 148, 165);
}
.isi h1 {
    font-size: 40px;
    margin-left: 85px;
    margin-right: 85px;
}

.paragraf {
    background-color: rgb(255, 255, 255);
    padding: 40px;
    display: flex;
    flex-direction: column;
    margin-left: 85px;
    margin-right: 85px;
    color: #1a1a1a;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    box-shadow: -10px 10px 0px #2b2a2a;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btn {
  text-align: center;
  padding: 15px 30px;
  font-size: 18px;
  text-decoration: none;
  border-radius: 4px;
  font-weight: 500;
  transition: all 0.3s ease;
}

.btn-dark {
  background-color: #2c2c2c;
  color: white;
  margin-top: 25px;
}

.btn-outline {
  border: 2px solid #1e50e4;
  color: #1e50e4;
  background-color: white;
}

.btn-outline:hover {
  background-color: #1e50e4;
  color: rgb(255, 255, 255);
}

.btn-dark:hover {
  background-color: #1a1a1a;
}


  .skills-section {
  display: flex;
  gap: 40px;
  padding: 20px;
  flex-wrap: wrap;
 
}

.column {
  flex: 1;
  min-width: 300px;
}

h3 {
  font-weight: bold;
  margin-top: 20px;
}

ul {
  padding-left: 20px;
}

li {
  margin-bottom: 10px;
}
.what {
    background-color:rgb(127, 148, 165);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;

}
  body {
  margin: 0;
  font-family: 'Helvetica Neue', sans-serif;
}

.akhir {
  display: flex;
  padding: 60px;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #4b5e74;
}

.text-section h1 {
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 26px;
  line-height: 1.6;
  text-transform: uppercase;
}

.form-section form {
  display: flex;
  flex-direction: column;
  width: 400px;
}
.skills-section h3{
  color: #464242;
}

input, textarea {
  margin-bottom: 10px;
  padding: 12px;
  border: none;
  background-color:rgb(77, 102, 122);
  color: rgb(255, 255, 255);
  font-size: 16px;
  resize: none;
}

input::placeholder, textarea::placeholder {
  color: #a9c4f9;
}

button {
  background-color:rgb(77, 102, 122);
  color: #ffffff;
  font-weight: bold;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  width: 120px;
  align-self: flex-end;
  font-size: 16px;
}

footer {
  background-color: #2f4b64;
  text-align: center;
  padding: 20px;
  font-size: 14px;
  color: #a4bddf;
}

.container {
      margin: 0;
      padding: 0;
      background-color: #ffffff;
      font-family: Arial, sans-serif;
      color: white;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
    }


    h1 {
      font-size: 48px;
      font-weight: bold;
      margin-bottom: 30px;
    }

    h2 {
      font-size: 24px;
      font-weight: bold;
    }

    ul {
      list-style-type: disc;
      padding-left: 20px;
    }

    .column {
      display: flex;
      flex-direction: column;
    }

    @media (max-width: 768px){
      .navbar {
        display: block;
        flex-direction: column;
       justify-content: center;
      }

     nav {
      display: block;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: 0;
     }

     .logo {
      text-align: center;
      margin-bottom: 10px;
     }

     .intro {
      flex-direction: column;
     }

     .intro img {
      width: 100%;
     }
     
     .isi {
      text-align: center;
      padding: 10px;
     }
     }


    .kontak {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    padding: 40px;
    width:20%;
    color: rgb(255, 255, 255);
    margin-top: 30px;
    background-color: #4b5e74;
  
       
}

.kontak a {
  color: white;
}

.panjang{
   font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;;
  }
.experience-entry {
  display: flex;
  gap: 40px;
  width: 900px;
  margin: auto;
}

.left-column {
  flex: 1;
  color: #6c4d4d;
}

.left-column .industry {
  font-style: italic;
  color: #a6966f;
}

.left-column .date {
  margin-top: 10px;
  color: #444;
}

.right-column {
  flex: 2;
}

.position {
  font-weight: bold;
  margin-bottom: 5px;
}

.highlight {
  color:  #a6966f;
  font-style: italic;
  font-weight: 500;
}

.panjang {
    display: flex;
    align-items: center;
    align-self: center;
}

.italic {
  font-style: italic;
  color: #a6966f;
}

.date {
  display: block;
  margin-top: 10px;
  color: #000000;
}

.blue {
  color: #a6966f;
  font-style: italic;
}

.gabungall {
    margin-left: 100px;
}

.kepala {
    margin-bottom: 14px;
}

.kepala h1 {
    font-size: 60px;
    color: #41445e;
}

.ux-box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #45615c; 
      color: rgb(255, 255, 255);
      border-radius: 12px;
      padding: 40px;
      box-shadow: -10px 10px 0px #2b2a2a;
      max-width: 900px;
      margin: auto;
      margin-top: 40px;
    }

    .ux-text {
      margin-top: 350px;
    }

    .ux-text h2 {
      font-size: 40px;
      margin-bottom: 30px;
      
    }

    .ux-text p {
      font-size: 18px;
      margin-top: 10px;
    }

    .ux-image img {
      width: 500px;
      height: auto;
    
    }

    .gambarcantik {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color:#4b464d; 
      color: rgb(255, 255, 255);
      border-radius: 12px;
      padding: 40px;
      box-shadow: -10px 10px 0px #2b2a2a;
      max-width: 900px;
      margin: auto;
      margin-top: 40px;
    }

    .rakbuku {
      background-color: #aba291;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: rgb(255, 255, 255);
      border-radius: 12px;
      padding: 40px;
      box-shadow: -10px 10px 0px #2b2a2a;
      max-width: 900px;
      margin: auto;
      margin-top: 40px;
    }

    .tumpukan {
      background-color: #33312e;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: rgb(255, 255, 255);
      border-radius: 12px;
      padding: 40px;
      box-shadow: -10px 10px 0px #2b2a2a;
      max-width: 900px;
      margin: auto;
      margin-top: 40px;
      margin-bottom: 20px;
    }

     @media (max-width: 768px) {
      .all {
        flex-direction: column;
      }
      .illustration {
        position: static;
        width: 100%;
        margin-top: 20px;
      }
    }

     .grid-container {
      margin: 0;
      padding: 40px;
      background-color: #f2f2f2;
      font-family: Arial, sans-serif;
      display: flex;
      justify-content: center;
      margin-top: 70px;
     
    }

    .grid-container {
      display: grid;
      grid-template-columns: repeat(3, 300px);
      grid-template-rows: auto auto;
      gap: 20px;
      justify-content: center;

    }

    .card {
      background-color: white;
      border-radius: 10px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
      overflow: hidden;
       box-shadow: -5px 5px 0px #978c8c;
    }

    .card img {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }

    .card-content {
      padding: 16px;
    }

    .card-content h3 {
      font-size: 16px;
      margin: 0;
      color: #111;
    }

    
    .card:nth-child(4) {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }

    @media (max-width: 900px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-items: center;
  }

  .card:nth-child(4) {
    grid-column: auto;
    grid-row: auto;
  }
}

   .wirang {
      font-family: 'Arial', sans-serif;
      margin: 0;
      padding: 90px;
      display: flex;
      justify-content: center;
      background-color: #ffffff;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .sinarengan {
      max-width: 1000px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: 40px;
    }

    .sinarengan h1 {
      font-size: 40px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      letter-spacing: 4px;
    }

    .year-column {
      flex: 1 1 45%;
      margin: 20px 0;
    }

    .year-column h2 {
      font-size: 32px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .year-column ul {
      padding-left: 20px;
    }

    .year-column li {
      margin-bottom: 20px;
      list-style-type: disc;
    }

    .year-column a {
      color: #1a0dab;
      text-decoration: underline;
    }

    @media (max-width: 768px) {
      .sinarengan {
        flex-direction: column;
        align-items: center;
      }

      .year-column {
        width: 100%;
      }
    }

      .girl {
      font-family: 'Arial', sans-serif;
      margin: 0;
      padding: 90px;
      display: flex;
      justify-content: center;
      background-color: #ffffff;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .lesungpipi {
      max-width: 1000px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: 40px;
    }

    

    .terbaik {
      flex: 1 1 45%;
      margin: 20px 0;
    }

    .terbaik h2 {
      font-size: 32px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .terbaik ul {
      padding-left: 20px;
    }

    .terbaik li {
      margin-bottom: 20px;
      list-style-type: disc;
    }

    .terbaik a {
      color: #1a0dab;
      text-decoration: underline;
    }

    @media (max-width: 768px) {
      .lesungpipi {
        flex-direction: column;
        align-items: center;
      }

      .terbaik {
        width: 100%;
      }
    }








